* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  padding: 90px 20px 0px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  -webkit-box-shadow: 0 4px 5px gray;
          box-shadow: 0 4px 5px gray;
  background-color: #021725;
  height: 80px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  padding: 0 15px;
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btnUsuarios {
  border: none;
  background: none;
  color: #84f0e3;
  cursor: pointer;
}

.btnUsuarios:hover {
  color: #aedce2;
  border: none;
  background: none;
}

.btnUsuarioNuevo {
  border: none;
  background: none;
  color: #49dd76;
  cursor: pointer;
}

.btnUsuarioNuevo:hover {
  border: none;
  background: none;
  color: #bee7bc;
  cursor: pointer;
}

.btnLogin {
  border: none;
  background: none;
  color: #b3e76f;
  cursor: pointer;
}

.btnLogin:hover {
  border: none;
  background: none;
  color: #a8e2a6;
  cursor: pointer;
}

.score {
  width: 40px;
  background-color: whitesmoke;
  color: #021725;
}

.nav-toggle,
.close-menu {
  display: none;
}

@media (max-width: 950px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: #021725;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .menu li {
    padding: 0;
    line-height: 60px;
  }
  .nav-toggle,
  .close-menu {
    display: block;
    color: white;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    background-color: #021725;
  }
  .close-menu {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .menu_open {
    opacity: 1;
    pointer-events: all;
  }
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.container-flex.showSnake {
  visibility: visible;
}

#container {
  display: -ms-grid;
  display: grid;
  height: 950px;
  width: 1000px;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: (1fr)[9];
      grid-template: repeat(8, 1fr)/repeat(9, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .casillero {
  padding: 45%;
  text-align: center;
  color: transparent;
}

#container .casillero:nth-child(odd) {
  background-color: #dfaf71;
}

#container .casillero:nth-child(even) {
  background-color: #cc944a;
}

#container .casillero.headSnake {
  background-image: url("./img/headSnake.png");
  background-color: #78c048;
}

#container .casillero.bodySnake {
  background-color: #619c3a;
}

#container .casillero.food {
  background-image: url("./img/manzana.png");
}

.container-modal {
  background: rgba(14, 13, 13, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.container-modal.show {
  visibility: visible;
}

.modal.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 900px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.modal-title {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: url("./img/game2.PNG");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-style: bold;
  z-index: 2;
  color: #fff;
}

.modal-title::after {
  content: '';
  position: absolute;
  background: rgba(112, 133, 82, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-title::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.modal-login {
  background: #eaf3e2;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.modal-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 85px;
  font-style: bold;
  color: #183306;
  margin-bottom: 25px;
}

.line {
  width: 100%;
  height: 20px;
  background: #338f37;
}

#close {
  position: absolute;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-style: bold;
}

label {
  padding: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #183306;
}

input {
  width: 60%;
  padding: 10px;
  background: #f6f8f6;
  margin-bottom: 15px;
  border-radius: 70px;
  border-color: #183306;
  text-align: center;
  font-style: bold;
}

.sesion {
  width: 30%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #62d122;
  color: #050c01;
  cursor: pointer;
}

.sesion:hover {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #95c977;
  color: white;
  cursor: pointer;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}
/*# sourceMappingURL=style.css.map */